li {
	list-style: none;
}

a {
	text-decoration: none;
}

#header{
	width: 100%;
	height: 80px;
}

.nawbar {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
}

.nawbar__mobile{
	position: fixed;
	top: 0;
	left: 0;
	display: none !important;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	display: flex;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.4);
}

.nawbar__mobile__content{
	height: 100%;
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.burger__menu{
	width: 40px;
	height: 30px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 101;
}

.burger__line {
	width: 100%;
	height: 3px;
	background-color: black;
	position: absolute;
	left: 0;
	transition: all 0.3s;
}

.burger__line1{
	top: 0;
}

.burger__line2, 
.burger__line3{
	top: 50%;
	transform: translateY(-50%);
}

.burger__line4{
	bottom: 0;
}

.burger__menu.active{
	transition: all 0.3s;
}

.burger__menu.active .burger__line1,
.burger__menu.active .burger__line4{
	display: none;
}

.burger__menu.active .burger__line2{
	transform: rotate(45deg);
}

.burger__menu.active .burger__line3{
	transform: rotate(-45deg);
}


.menu__mobile__open{
	display: none !important;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: -100%;
	background-color: #f26387;
	z-index: 100;
	transition: all 0.3s;
}

.menu__mobile__open.active{
	left: 0;
	transition: all 0.3s;
}

.naw__mobile{
	width: 200px;
	position: absolute;
	right: 0;
	top: 20px;
}

.naw__mobile li{
	margin-top: 20px;
}

.naw__mobile a{
	font-size: 20px;
	color: black;
}

.naw__mobile a:hover{
	text-decoration: underline;
}

.naw {
	height: 100%;
	display: flex;
	align-items: center;
}

.naw img {
	width: 137px;
	height: 56px;
}

.naw ul {
	display: flex;
}

.naw li {
	margin-left: 16px;
}

.naw a {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: black;
}

.naw a:hover {
	text-decoration: underline;
}

.nawbar__item {
	display: flex;
	align-items: center;
}

.nawbar__item a {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: black;
}

.nawbar__item a:hover {
	text-decoration: underline;
}

.nawbar__item__button {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	cursor: pointer;
	margin-left: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.nawbar__item__button:hover {
	background-color: rgba(255, 255, 255, 0.5);

}

.nawbar__item__button img {
	width: 18px;
	height: 18px;
}


.nawbar__item .button {
	padding: 10px 18px;
	border-radius: 26px;
}

@media screen and (max-width: 1230px){
	.naw img{
		width: 132px;
		height: 51px ;
	}

	.naw a {
		font-size: 16px;
	}

	.nawbar__item a{
		font-size: 16px;
	}
}

@media screen and (max-width: 1100px){
	.naw img{
		width: 132px;
		height: 51px ;
	}

	.naw a {
		font-size: 14px;
	}

	.nawbar__item__button img{
		width: 16px;
		height: 16px;
	}

	.nawbar__item a{
		font-size: 14px;
	}

	.nawbar__item__button{
		font-size: 14px;
	}

	.nawbar__item__basket__content__item{
		width: 405px !important;
		height: 350px !important;
	}
}

@media screen and (max-width: 965px){
	.naw img{
		width: 110px;
		height: 45px ;
	}

	.naw a {
		font-size: 12px;
	}

	.naw li{
		margin-left: 12px;
	}

	.nawbar__item a{
		font-size: 12px;
	}

	.nawbar__item__button{
		font-size: 12px;
	}

	.nawbar__item__basket__content__item{
		width: 380px !important;
		height: 320px !important;
	}

	.basket__button__вesign{
		margin-top: 0 !important;
	}
}

@media screen and (max-width: 820px) {

	.nawbar {
		display: none;
	}

	.nawbar__mobile{
		display: block !important;
	}

	.menu__mobile__open{
		display: block  !important;
	}

}