#footer{
	width: 100%;
	height: 153px;
	display: block;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding-top: 48px;
	gap: 80px;
}

.footer__sociaд__network{
	width: 100px;
	height: 26px;
	display: flex;
	justify-content: space-between;
}

.footer__sociaд__network img{
	width: 26px;
	height: 26px;
}

.footer__info{
	width: 375px;
	height: 48px;
	display: flex;
	gap: 16px;
}

.footer__info img{
	width: 18px;
	height: 18px;
}

.footer__info h3{
	font-style: normal;
font-weight: 400;
font-size: 14px;
margin-bottom: 8px;
}

.footer__info a{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: black;
}

.footer__info a:hover {
	text-decoration: underline;
}

.footer__info__for__suppliers__txt h3{
	font-style: normal;
font-weight: 700;
font-size: 14px;
}
