

.nawbar__item__basket__content {
	position: relative;
	box-sizing: border-box;
}

.nawbar__item__basket__content__item {
	position: absolute;
	right: 0;
	width: 455px;
	height: 382px;
	background-color: white;
	border-radius: 4px;
	z-index: 1;
	margin-top: 8px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: 0.3s;
}

.nawbar__item__basket__content__item.active{
	transform: scale(1);
}

.nawbar__item__basket__content__item__position {
		width: 345px;
}

.card__basket__box{
	width: 100%;
	height: 130px;
	overflow: auto;
}

.nawbar__item__basket__content__item__position h2{
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 32px;
}

.nawbar__item__basket__content__item__position h3{
	font-style: normal;
font-weight: 700;
font-size: 18px;
}

.card__basket{
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
	padding-right: 10px;
	box-sizing: border-box;
}

.card__basket:last-child{
	margin-bottom: 0;
}

.card__basket img{
	width: 46px;
	height: 46px;
}

.card__basket h3{
	font-style: normal;
font-weight: 700;
font-size: 18px;
}

.card__basket h4{
	font-style: normal;
font-weight: 400;
font-size: 14px;
color: #B9B9B9;
margin-top: 4px;
}

.card__basket__item{
	display: flex;
	gap: 16px;
}

.card__basket__item__name{
	width: 150px;
}

#card__basket__close{
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.basket__button__вesign{
	display: flex;
	align-items: center;
	margin-top: 32px;
	border-top:  1px solid #E7E7E7;
	padding-top: 32px;
	gap: 32px;
}

.cart__is__empty {
	width: 200px;
	height: 200px;
}