.card {
	width: 270px;
	height: 280px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 1px black;
	margin-top: 50px;
}

.card h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 8px;
}

.card a{
	color: black;
}

.card h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.card img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -50px;
	width: 168px;
	height: 168px;
}

.card__txt {
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 190px;
	left: 50%;
	transform: translateX(-50%);
}

.card__txt__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
}

.cart__button {
	background-color: #FF2F64;
	cursor: pointer;
	width: 32px;
	height: 32px;
	border: none;
	position: relative;
	border-radius: 50%;
}

.cart__button img {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

@media screen and (max-width: 1230px) {
	
	.card{
		width: 227px;
	}

}

@media screen and (max-width: 1100px) {
	
	.card{
		width: 280px;
	}

}

@media screen and (max-width: 965px) {
	.card{
		width: 227px;
	}
}

@media screen and (max-width: 820px) {

	.card{
		width: 280px;
	}

}