.product {
	width: 100%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.select__content {
	width: auto;
	height: auto;
}

.select__content h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 8px;
	margin-left: 16px;
}