
.promotion {
	width: 100%;
	text-align: center;
	margin-top: 80px;
}

.promotion h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 56px;
}

.promotion__content {
	display: flex;
	justify-content: space-between;
}

.promotion__content__item {
	width: 570px;
	height: 268px;
	background-color: #f26387;
	border-radius: 16px;
	text-align: left;
	display: flex;
	align-items: center;
	padding: 31px 15px 0 40px;
	box-sizing: border-box;
	overflow: hidden;
}

.promotion__content__item h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 16px;
}

.promotion__content__item h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 32px;
}


.popular {
	width: 100%;
	text-align: center;
	margin-top: 80px;
}

.popular__content {
	width: 100%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.popular h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	margin-bottom: 100px;
}

.shop__gleysy {
	background-image: url('../../../public/img/gleysy/fon__gleysy.jpg');
	width: 100%;
	height: 480px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 96px;
}

.shop__gleysy__content {
	width: 95%;
	height: 432px;
	background-color: white;
	border-radius: 16px;
	box-sizing: border-box;
	padding-top: 62px;
	text-align: center;
}

.shop__gleysy__content h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 56px;
}

.shop__gleysy__content img {
	width: 48px;
	height: 48px;
}

.shop__gleysy__content h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
}

.shop__gleysy__content__item {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.shop__gleysy__content__item__content {
	width: 506px;
	box-sizing: border-box;
	text-align: left;
	display: flex;
	gap: 16px;
}


.lynx {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
}

.lynx__txt {
	width: 570px;
	height: 220px;
	background-image: url('../../../public/img/lynx/fon__txt.jpg');
	border-radius: 16px;
	box-sizing: border-box;
	padding: 32px 0 0 32px;
	background-size: cover;
}

.lynx__txt__item {
	width: 300px;
}

.lynx__txt__item h3 {
	color: #565C66;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 12px;
}

.lynx__txt__item h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
}

.lynx__item {
	background-image: url('../../../public/img/lynx/linx__fon.jpg');
	width: 570px;
	height: 220px;
	border-radius: 16px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.lynx__item__content {
	width: 558px;
	height: 208px;
	background-color: white;
	border-radius: 16px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lynx__item__content__position {
	width: 506px;
}

.lynx__item__content h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
}

.lynx__item__content__position__input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 32px;
}

.lynx__item__content__position__input input {
	width: 332px;
	height: 48px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	padding-left: 16px;
	display: block;
	box-sizing: border-box;
}

.delivery {
	width: 100%;
	height: 534px;
	background-image: url('../../../public/img/delivery/delivery__fon.jpg');
	border-radius: 16px;
	margin-top: 76px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
}

.delivery__txt {
	width: 371px;
	box-sizing: border-box;
}

.delivery__txt h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 24px;
}

.delivery__txt h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
}

.delivery__item {
	width: 500px;
	height: 406px;
	background-color: white;
	box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delivery__item h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
	margin-bottom: 32px;
}

.delivery__item__position {
	width: 420px;
}

.delivery__item__position__input1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.delivery__item__position__input1 h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: black;
	margin-bottom: 8px;
}

.delivery__item__position__input1__date input {
	width: 117px;
	height: 48px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	padding: 16px;
	box-sizing: border-box;
	outline: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.delivery__item__position__input1__telefon input {
	width: 287px;
	height: 48px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	padding: 16px;
	box-sizing: border-box;
	outline: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.delivery__item__position__input1__adres h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: black;
	margin-bottom: 8px;
}

.delivery__item__position__input1__adres input {
	width: 420px;
	height: 48px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	padding: 16px;
	box-sizing: border-box;
	outline: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 32px;
}

.delivery__item__button {
	width: 100%;
	text-align: center;
}

.office__adress {
	width: 100%;
	height: 492px;
	background-image: url('../../../public/img/office__adress/fon__office\ adress.jpg');
	border-radius: 16px;
	margin-top: 80px;
	display: flex;
	align-items: center;
	padding-left: 64px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
}

.office__adress__item {
	width: 343px;
	height: 364px;
	background-color: white;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.office__adress__item__content {
	width: 260px;
}

.office__adress__item__content h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #565C66;
	margin-top: 24px;
}

.office__adress__item__content h3:first-child{
	margin-top: 0;
}

.office__adress__item__content h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	margin-top: 12px;
}

.office__adress__item__content h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #565C66;
	margin-bottom: 32px;
}

@media screen and (max-width: 1230px) {
	
	.promotion__content__item{
		width: 485px;
	}

	.promotion__content__item h3{
		font-size: 22px;
	}

	.promotion__content__item h4{
		font-size: 14px;
	}

	.shop__gleysy__content h2{
		font-size: 28px;
	}

	.shop__gleysy__content__item__content{
		width: 450px;
	}

	.shop__gleysy__content h3{
		font-size: 14px;
	}

	.lynx__txt{
		width: 490px;
	}

	.lynx__item{
		width: 490px;
	}

	.lynx__item__content{
		width: 470px;
	}

	.lynx__item__content__position{
		width: 450px;
	}

	.lynx__item__content__position__input input{
		width: 280px;
	}

}

@media screen and (max-width: 1100px) {
	
	.promotion__content__item{
		width: 440px;
	}

	.promotion__content__item h3{
		font-size: 18px;
	}

	.promotion__content__item h4{
		font-size: 14px;
	}	

	.shop__gleysy__content h2{
		font-size: 26px;
	}

	.shop__gleysy__content__item__content{
		width: 420px;
	}

	.lynx__txt {
		width: 435px;
	}

	.lynx__item{
		width: 435px;
	}

	.lynx__item__content{
		width: 420px;
	}

	.lynx__item__content__position{
		width: 400px;
	}
	
	.lynx__item__content__position__input input{
		width: 240px;
	}

}

@media screen and (max-width: 965px) {

	.promotion__content{
		display: block;
	}

	.promotion__content__item{
		width: 600px;
		margin: 0 auto;
		margin-top: 20px;
	}

	.promotion__content__item h3{
		font-size: 24px;
	}

	.promotion__content__item h4{
		font-size: 16px;
	}

	.shop__gleysy{
		height: 430px;
	}

	.shop__gleysy__content{
		height: 400px;
	}

	.shop__gleysy__content h2{
		font-size: 22px;
	}

	.shop__gleysy__content__item__content{
		gap: 6px;
		width: 350px;
	}

	.shop__gleysy__content img{
		width: 40px;
		height: 40px;
	}

	.shop__gleysy__content h3{
		font-size: 12px;
	}

	.lynx{
		display: block;
	}

	.lynx__txt{
		width: 600px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.lynx__item{
		width: 600px;
		margin:  0 auto;
	}

	.lynx__item__content{
		width: 580px;
	}

	.lynx__item__content__position{
		width: 520px;
	}

	.lynx__item__content__position__input input{
		width: 350px;
	}

	.delivery__txt{
		width: 280px;
	}

	.delivery__item{
		width: 470px;
	}

	.delivery__txt h2{
		font-size: 28px;
	}

	.delivery__txt h3{
		font-size: 14px;
	}

}

@media screen and (max-width: 820px) {
	
	.shop__gleysy__content h2{
		font-size: 18px;
		margin-bottom: 36px;
	}

	.shop__gleysy__content__item__content{
		width: 250px;
	}

	.delivery{
		display: block;
		padding-top: 20px;
	}

	.delivery__txt{
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}

	.delivery__txt h3{
		display: none;
	}

	.delivery__item{
		margin:  0 auto;
	}

}