#sort-by {
	width: 196px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	outline: none;
	cursor: pointer;
	padding-left: 16px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 48px;
	appearance: none;
	border: none;
}
