.button-white{
	padding: 12px 32px;
	background: #FCFCFC;
border: 4px solid rgba(252, 252, 252, 0.4);
box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
font-style: normal;
font-weight: 700;
font-size: 16px;
cursor: pointer;
}

.button-white:hover{
	box-shadow: inset 0 0 4px black;
}

.button-white:active{
	box-shadow: none;
}

@media screen and (max-width: 1100px) {
	
	.button-white{
		font-size: 14px;
	}

}