
.nawbar__item__auth__content {
	position: relative;
}

.nawbar__item__auth__content__form {
	width: 420px;
	height: 350px;
	background-color: white;
	position: absolute;
	right: 0;
	margin-top: 8px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	transform: scale(0);
	transition: 0.3s;
}

.nawbar__item__auth__content__form.active{
	transform: scale(1);
}

.nawbar__item__auth__content__form h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 32px;
}

.nawbar__item__auth__content__form input {
	margin-bottom: 16px;
}

.nawbar__item__auth__content__form a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

}

.nawbar__item__auth__content__form p{
	margin-top: 4px;
}

.nawbar__item__auth__content__form__entrance {
	display: flex;
	gap: 23px;
}
