.slick-slider {
	height: auto;

}

.slide__item {
	width: 100%;
	height: 540px;
	display: flex;
	padding-left: 70px;
	justify-content: space-evenly;
	box-sizing: border-box;
}

.slide__item__info {
	width: 435px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide__item__info__position {
	width: 100%;
	height: 285px;
}


.slide__item__info__position h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	margin-bottom: 24px;
}

.slide__item__info__position h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 48px;
}


.slide__item__img {
	width: 306px;
	height: 507px;
	position: relative;
}

.slide__item__img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.slide__item__img__circle{
	width: 100%;
	height: 306px;	
	background-color: white;
	opacity: 0.3;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}



.slick-prev:before{
	font-size: 45px !important;

}


.slick-next:before{
	font-size: 45px !important;	
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-width: 1100px) {
	
	.slide__item{
		height: 440px;
	}

	.slide__item__img{
		height: 100%;
		width: 280px;
	}

	.slide__item__img img{
		height: 100%;
		width: 100%;
	}

	.slide__item__img__circle{
		height: 280px;
	}

}

@media screen and (max-width: 965px) {
	
	.slide__item{
		height: 350px;
	}

	.slide__item__img{
		height: 100%;
		width: 200px;
	}

	.slide__item__img img{
		height: 100%;
		width: 100%;
	}

	.slide__item__img__circle{
		height: 200px;
	}

	.slide__item__info__position h2{
		font-size: 30px;
	}

	.slide__item__info__position h3{
		font-size: 16px;
	}

}

@media screen and (max-width: 820px) {

	.slide__item{
		height: 250px;
		align-items: center;
	}

	.slide__item__info{
		width: 380px;
	}

	.slide__item__info__position{
		height: 200px;
	}

	.slide__item__info__position h2{
		font-size: 24px;
		margin-bottom: 14px;
	}

	.slide__item__info__position h3{
		margin-bottom: 20px;
	}

	.slide__item__img__circle {
		height: 182px;
	}

}