* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #FEAFC3;
}

.width {
	width: 1170px;
	margin: 0 auto;
}

@media screen and (max-width: 1230px){
	.width{
		width: 1000px;
	}

}

@media screen and (max-width: 1100px) {
	
	.width{
		width: 900px !important;
	}

}

@media screen and (max-width: 965px) {
	
	.width{
		width: 765px !important;
	}

}

@media screen and (max-width: 820px) {
	
	.width{
		width: 600px !important;
	}

}