.feedback__form {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -100%;
	left: 0;
	transition: 0.3s 0.3s;
}

.feedback__form.active{
	top: 0;
	left: 0;
	transition: 0.3s;
}

.feedback__form__item {
	width: 570px;
	height: 545px;
	background-color: white;
	border-radius: 8px;
	z-index: 101;
	position: relative;
	box-sizing: border-box;
	transform: scale(0);
	transition: 0.3s;
	
}

.feedback__form__item.active{
	transform: scale(1);
	transition: 0.3s 0.3s;
}

.feedback__form__item img {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.feedback__form__item__content {
	position: absolute;
	width: 442px;
	top: 64px;
	left: 64px;
	box-sizing: border-box;
}

.feedback__form__item__content h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 32px;
}

.feedback__form__item__content input {
	width: 442px;
	height: 48px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	margin-bottom: 16px;
	outline: none;
}

.feedback__form__item__content__texterea {
	max-width: 442px;
	max-height: 149px;
	min-width: 442px;
	min-height: 149px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	outline: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-left: 16px;
	padding-top: 14px;
	box-sizing: border-box;
}

#feedback__form__button {
	position: absolute;
	bottom: 58px;
	right: 62px;
}