.button-red {
	padding: 12px 32px;
	background: #FF2F64;
	border: 4px solid rgba(252, 252, 252, 0.4);
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	border-radius: 26px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	color: white;
}

.button-red:hover {
	background-color: white;
	color: #FF2F64;
	border: solid 3px #FF2F64;
}

.button-red:active {
	background: #FF2F64;
	color: white;
}

@media screen and (max-width: 1100px) {
	
	.button-red{
		font-size: 14px;
	}

}