.nawbar__item__search__content {
	position: relative;
}

.nawbar__item__search {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.nawbar__item__search__content__input {
	width: 370px;
	height: 96px;
	position: absolute;
	right: 0;
	margin-top: 8px;
	z-index: 1;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	transform: scale(0);
	transition: 0.3s;
	box-sizing: border-box;
}

.nawbar__item__search__content__input.active {
	transform: scale(1);
}
